<div id="call">
    <h2>Now that we have our api object, we can start calling functionality inside Web Alive. To do this, we will call the</h2>
    <pre class="center">api.wa_executeConsoleCommand(command, duration)</pre> 
    <h2>method on our api object.</h2>
    
    <div class="btn info next" id="tocall2">
        Next >>
    </div>
    <br style="clear:both;"/>
</div>

<div class="hidden" id="call2">
    <h2>The method takes in two parameters:</h2> 
    <ul>
        <li>A string containing the command to execute.</li>
        <li>An integer indicating the length in milliseconds to increase the frame rate of Web Alive while the command is being executed. If an animation results from the command, this should equal roughly the length of the animation. </li>
    </ul>
    <h2> Now let's try some commands! </h2>
    <div class="btn info next" id="gesture">
        Gestures >>
    </div>
    <br style="clear:both;"/>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $("#call").css("margin-top",$(".tut-container").height()/2 - $("#call").height()/2);
        $("#gesture").click(function(){
            $.get('/gesture', function(data) {
                $("#call2").fadeOut();
                
                setTimeout(function(){$("#tut-container-content").html(data);},1000);
            }); 
        });
        $("#tocall2").click(function(){
            $("#call").fadeOut();
            setTimeout(function(){
                $("#call2").fadeIn();
                  $("#call2").css("margin-top",$(".tut-container").height()/2 - $("#call2").height()/2);
            },1000);
        });
    });
    
    
</script>