<div id="hello">
    <h2>Now let's modify our helloWorld function to include the user's avatar name:</h2>
     <pre>
        function helloWorld(params, id, name){
            alert("Hello " + name + "!");
        }
     </pre>
     <div class="btn info next" id="next">
          Next >>
     </div>
</div>
<script>
    $("#hello").css("margin-top",$(".tut-container").height()/2 - $("#hello").height()/2);
    $("#next").click(function(){
        $.get('/hello2', function(data) {
            $("#hello").fadeOut();  
            setTimeout(function(){$("#tut-container-content").html(data);},1000);
        });
    });
</script>
