<div id="trigger">
    <div >
        <h2>Invoking The JavaScript Trigger</h2>
        <h5 class="justify">
            Now that we have our JavaScript trigger, we need a way of invoking it from within the Web Alive environment. How you invoke the JavaScript trigger depends on your use case, but usually it will be triggered as the result of some form of user interaction within the environment. This is done through the use of an additional trigger. The type of trigger is dependant on your use case. To have this trigger invoke your JavaScript trigger, simply set the Event parameter under the events section of the properties menu to the tag of your JavaScript trigger. Some possible use cases are: 
        </h5>
        <ol>
            <li>When the user clicks on an object - LookAndUseTrigger</li>
            <li>When the user's avatar collides with an object - ProximityTrigger</li>
            <li>When the user looks at an object - StareTrigger</li>
            <li>After an interval of time - TimerTrigger</li>
        </ol>
    </div>
    <br style="clear:both;"/>
    <div class="btn info next" id="next">
         Next >>
    </div>
</div>
<script>
    $("#trigger").css("margin-top",$(".tut-container").height()/2 - $("#trigger").height()/2);
    $("#next").click(function(){
        $.get('/exercises', function(data) {
            $("#trigger").fadeOut();  
            setTimeout(function(){$("#tut-container-content").html(data);},1000);
        });
    });
</script>