<div id="params">
    <h5>So far all of the examples we have seen have not used the Parameters field of the JavaScript trigger. By leveraging this field, our triggers can pass in custom parameters. The three middle paintings all invoke a JavaScript trigger which calls the "doGesture" function; however, each passes the function a different gesture name in the parameters string. Let's write the "doGesture" function as follows:</h5>
     <pre>
        function doGesture(gesture){
            api.wa_executeConsoleCommand("Do " + gesture, 5000);
        } 
     </pre>
     <div class="btn info next" id="next">
          Next >>
     </div>
</div>
<script>
    $("#params").css("margin-top",$(".tut-container").height()/2 - $("#params").height()/2);
    $("#next").click(function(){
        $.get('/roundtrip', function(data) {
            $("#params").fadeOut();  
            setTimeout(function(){$("#tut-container-content").html(data);},1000);
        });
    });
</script>
