<div id="hidden">
     <pre>
var hasPressedA = false; 
function pressButton(button){
    if (button == "A"){
        hasPressedA = true;
        api.wa_executeConsoleCommand("displayHUDMessage you pressed A",3000);
    } else if (button == "B" &amp&amp hasPressedA){
        api.wa_executeConsoleCommand("displayHUDMessage you pressed B",3000);
    } else {
        api.wa_executeConsoleCommand("displayHUDMessage you pressed an invalid button",3000);
    }
}
     </pre>
     <div class="btn info next" id="next">
          Next >>
     </div>
</div>
<script>
    $("#hidden").css("margin-top",$(".tut-container").height()/2 - $("#hidden").height()/2);
    $("#next").click(function(){
        $.get('/params', function(data) {
            $("#hidden").fadeOut();  
            setTimeout(function(){$("#tut-container-content").html(data);},1000);
        });
    });
</script>
