<div id="finish">
    <h2>That's it for now folks. But don't fret, lesson 2 where we will be covering Javascript Triggers is just around the corner. </h2>
    <div id="tweet">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="I just completed the Web Alive API Tutorial at" data-via="WebAliveTuts" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>

<script>
    $("#finish").css("margin-top",$(".tut-container").height()/2 - $("#finish").height()/2);
    $("#tweet").css("margin-left",$(".tut-container").width()/2 - 54);
</script>