body {
    min-width:1024px;
}
.wa-container{
    padding:10px;
    width:60%;
    margin:20px;
    background-color:#000;
    overflow:hidden;
    float:left;
}

.tut-container {
    width:40%;
    margin:20px;
    border-style: solid;
    float:left;
    padding:10px;
    margin-left: auto;   
    margin-right: auto; 
}

.shadow {
    -moz-box-shadow: 10px 10px 10px #ccc;
    -webkit-box-shadow: 10px 10px 10px #ccc;
    box-shadow: 10px 10px 10px #ccc;
}

.round {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.thumb{
    width:32px;
    height:32px;
}

.btn{
    width:150px;
}

.btn-text {
    float:left;
    line-height:32px;
    margin-left:5px;
    
}

#console-btns{
    margin-top:20px;
}

img{
    float:left;
}

h2, h5{
    text-align:center;
    padding:10px;
}

h5{
    line-height:25px;
}

h3 {
    text-align:center;
}

video {
    width:100%;
    margin-top:56px;
}

.justify {
    text-align:justify;
}

.center {
    text-align:center;
}

.dbl-col {
    width:45%;
    float:left;
    margin-right:5%;
}

.command-tab{
    width:60%;
    height:auto;
    display:block;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    -khtml-border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#000;
    float:left;
}

.row {
    margin-left:0;
}

.row > [class*="span"]{
    margin-left:0;
}

.next {
    width:auto;
    float:right;
    margin-right:20px;
}
.prev {
    width:auto;
    float:left;
    margin-left:20px;
}

.hidden {
    display:none;
}
.left {
    float:left;
}

.pills {
    margin:10px 0 0 60%;
    padding-left:60px;
}